!!! 5
%html
  %head
    %meta{ :charset=>"utf-8" }
    %meta{ :name=>"description", :content=>"Apache DeltaSpike" }
    %meta{ :name=>"author", :content=>"Jason Porter" }
    %meta{ :name=>"keywords", :content=>"CDI, Java EE, DeltaSpike, DevNexus" }
    %meta{ :name=>"viewport", :content=>"width=1024" }
    %title
      DevNexus 2012 - Building CDI Extensions with Apache DeltaSpike
    %body
      #impress.impress-not-supported
        .fallback-message
          :markdown
            Your browser *does not support the features required* by 
            impress.js, so you are presented with a simplified version of this
            presentation.

            For the best experience please use the latest *Chrome* or *Safari*
            or *Firefox* browser. Upcoming version 10 of Internet Explorer _should_ 
            also handle it.

        ~ content

        #overview.step{:data=>{:x=>"3000", :y=>"1500", :scale=>"10"}}

        %script{ :src=>"scripts/impress.js", :type=>"text/javascript" }
        :javascript
          impress();

