.larger {
  font-size: 52px;
}

#title {
  width: 900px;
  height: 740px;
  background: url("../images/RHT_JBoss_background.png") no-repeat;
  #logo {
    position: absolute;
    top: 10%;
  }
  #presentation_title {
    position: absolute;
    top: 30%;
  }
  .presentation_info {
    position: absolute;
    font-size: 28px;
    bottom: 30px;
  }

}

#what_cdi {
  width: 600px;
}

.what_cdi_detail {
  width: 700px;
}

#without_cdi, #life_with_cdi, #improve_dev_exp {
  width: 900px;
  font-size: 40px;
}

#life_with_cdi:not(.active) {
  opacity: 0;
}

#improve_dev_exp {
  height: 600px;

  .dev_exp_child.active {
    width: 700px;
    font-size: 40px;
  }
}

#best_part  img {
  @include single-box-shadow;
  border-radius: 22px;
}

#what_can_do:not(.active) {
  opacity: 0;
}

#what_can_do {
  width: 900px;
  ul li {
    list-style-type: none;
  }
}

#secret_ingredient .contered {
  position: absolutle;
  top: 10%;
}

.lifecycle {
  width: 900px !important;
}
.lifecycle:not(.active) {
  opacity: 0 !important;
}

.lifecycle ul {
  list-style: none;
  margin-top: 25px;
  li {
    background: url("../images/plus.png") no-repeat;
    background-position: 0px 15px;
    margin-bottom: 20px;
    padding-left: 30px;
  }
}

#deltaspike_contributors_individuals {
  margin-top: 150px;
  ul {
    position: relative;
  }
  #first-list {
    left: -10px;
  }
  #second-list {
    top: -280px;
    left: 400px;
  }
}
#apache_resources {
  width: 900px;
  .extra_small {
    font-size: 20px;
  }
}
