/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
@import "compass";

@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('../fonts/Chunkfive-webfont.eot');
    src: url('../fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Chunkfive-webfont.woff') format('woff'),
         url('../fonts/Chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  min-height: 740px;
  font-family: 'ChunkFiveRegular';
  @include background-image(linear-gradient(top, #ff3c3c, white));
  pointer-events: none;

  #jmpress {
    pointer-events: auto;

    #overview {
      z-index: -1;
      padding: 0;
    }



    @import "partials/slides";

    /* COMMON STEP STYLES */ 
    .slide {
        padding: 10px;

        -webkit-box-sizing: border-box;
        -moz-box-sizing:    border-box;
        -ms-box-sizing:     border-box;
        -o-box-sizing:      border-box;
        box-sizing:         border-box;

        font-size: 48px;
        line-height: 1.5; 
        width: 700px;
    }

    /* fade out inactive slides */ 
    .slide {
        -webkit-transition: opacity 1s;
        -moz-transition:    opacity 1s;
        -ms-transition:     opacity 1s;
        -o-transition:      opacity 1s;
        transition:         opacity 1s;

        ul {
          list-style: none;
        }
    }

    .step:not(.active):not(.nested-active) {
        opacity: 0.3;
    }

    .underline {
      text-decoration: underline;
    }

    .centered {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    } 

    .smaller {
      font-size: 36px;
    }

    .smallest {
      font-size: 28px;
    }

    .footnote {
      font-family: Arial;
      font-size: 12px;
      position: absolute;
      bottom: -20px;
    }

    .left {
      float:left
    }

    .right {
      float:right
    }
  }

  .jmpress-on-overview .step {
    opacity: 1;
    cursor: pointer;
  }

  /* basic animations */
  .will-appear {
    opacity: 0;
  }

  .do-appear {
    opacity: 1;
  }
  

  .will-drive-right, .will-drive-left {
    position: relative;
  
    -webkit-transition: opacity 0.6s, left 1s;
    -moz-transition:    opacity 0.6s, left 1s;
    -ms-transition:     opacity 0.6s, left 1s;
    -o-transition:      opacity 0.6s, left 1s;
    transition:         opacity 0.6s, left 1s;
  
    opacity: 0;
  }
  .will-drive-right {
    left: -300px;
  }
  .will-drive-left {
    left: 300px;
  }
  .will-drive-down, .will-drive-up {
    position: relative;
  
    -webkit-transition: opacity 0.6s, top 1s;
    -moz-transition:    opacity 0.6s, top 1s;
    -ms-transition:     opacity 0.6s, top 1s;
    -o-transition:      opacity 0.6s, top 1s;
    transition:         opacity 0.6s, top 1s;
  
    opacity: 0;
  }
  .will-drive-down {
    top: -300px;
  }
  .will-drive-up {
    top: 300px;
  }
  
  .do-drive-up, .do-drive-down {
    opacity: 1;
    top: 0px;
  }
  .do-drive-right, .do-drive-left {
    opacity: 1;
    left: 0px;
  }

  .will-expand {
    -webkit-transition: all 1s;
    -moz-transition:    all 1s;
    -ms-transition:     all 1s;
    -o-transition:      all 1s;
    transition:         all 1s;
  
    opacity: 0;
  
    -webkit-transform: translate3d(0,0,1px) scale(0.7,1);
    -moz-transform:    translate3d(0,0,1px) scale(0.7,1);
    -ms-transform:     translate3d(0,0,1px) scale(0.7,1);
    -o-transform:      translate3d(0,0,1px) scale(0.7,1);
    transform:         translate3d(0,0,1px) scale(0.7,1);
  }
  
  .do-expand {
    opacity: 1;
  
    -webkit-transform: translate3d(0,0,1px) scale(1,1);
    -moz-transform:    translate3d(0,0,1px) scale(1,1);
    -ms-transform:     translate3d(0,0,1px) scale(1,1);
    -o-transform:      translate3d(0,0,1px) scale(1,1);
    transform:         translate3d(0,0,1px) scale(1,1);
  }
  
  .has-expand {
    -webkit-transform: none;
    -moz-transform:    none;
    -ms-transform:     none;
    -o-transform:      none;
    transform:         none;
  }
  

  .will-fade {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
  
    opacity: 0;
  }
  .will-fade-slow {
    -webkit-transition: opacity 2s;
    -moz-transition:    opacity 2s;
    -ms-transition:     opacity 2s;
    -o-transition:      opacity 2s;
    transition:         opacity 2s;
  
    opacity: 0;
  }
  .will-fade-fast {
    -webkit-transition: opacity 0.5s;
    -moz-transition:    opacity 0.5s;
    -ms-transition:     opacity 0.5s;
    -o-transition:      opacity 0.5s;
    transition:         opacity 0.5s;
  
    opacity: 0;
  }
  
  .do-fade, .do-fade-slow, .do-fade-fast {
    opacity: 1;
  }
  

  .will-warp-right, .will-warp-left {
    position: relative;
  
    -webkit-transition: opacity 0.2s, left 0.5s ease-in-out;
    -moz-transition:    opacity 0.2s, left 0.5s ease-in-out;
    -ms-transition:     opacity 0.2s, left 0.5s ease-in-out;
    -o-transition:      opacity 0.2s, left 0.5s ease-in-out;
    transition:         opacity 0.2s, left 0.5s ease-in-out;
  
    opacity: 0;
  }
  .will-warp-right {
    left: -600px;
  }
  .will-warp-left {
    left: 600px;
  }
  .will-warp-down, .will-warp-up {
    position: relative;
  
    -webkit-transition: opacity 0.2s, top 0.5s ease-in-out;
    -moz-transition:    opacity 0.2s, top 0.5s ease-in-out;
    -ms-transition:     opacity 0.2s, top 0.5s ease-in-out;
    -o-transition:      opacity 0.2s, top 0.5s ease-in-out;
    transition:         opacity 0.2s, top 0.5s ease-in-out;
  
    opacity: 0;
  }
  .will-warp-down {
    top: -600px;
  }
  .will-warp-up {
    top: 600px;
  }
  
  .do-warp-up, .do-warp-down {
    opacity: 1;
    top: 0px;
  }
  .do-warp-right, .do-warp-left {
    opacity: 1;
    left: 0px;
  }

  .will-zoom {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition:    all 1s ease-in-out;
    -ms-transition:     all 1s ease-in-out;
    -o-transition:      all 1s ease-in-out;
    transition:         all 1s ease-in-out;
  
    opacity: 0;
  
    -webkit-transform: translate3d(0,0,1px) scale(10,10);
    -moz-transform:    translate3d(0,0,1px) scale(10,10);
    -ms-transform:     translate3d(0,0,1px) scale(10,10);
    -o-transform:      translate3d(0,0,1px) scale(10,10);
    transform:         translate3d(0,0,1px) scale(10,10);
  }
  
  .do-zoom {
    opacity: 1;
  
    -webkit-transform: translate3d(0,0,1px) scale(1,1);
    -moz-transform:    translate3d(0,0,1px) scale(1,1);
    -ms-transform:     translate3d(0,0,1px) scale(1,1);
    -o-transform:      translate3d(0,0,1px) scale(1,1);
    transform:         translate3d(0,0,1px) scale(1,1);
  }
  
  .has-zoom {
    -webkit-transform: none;
    -moz-transform:    none;
    -ms-transform:     none;
    -o-transform:      none;
    transform:         none;
  }

  /* IMPRESS NOT SUPPORTED STYLES */ 
  .fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    
    display: none;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border-radius: 10px;
    border: 1px solid #E4C652;
    background: #EEDC94;
  }

  .fallback-message p {
    margin-bottom: 10px;
  }

  .jmpress-not-supported .step {
    position: relative;
    opacity: 1;
    margin: 20px auto;
  }

  .jmpress-not-supported .fallback-message {
    display: block;
  }
}

